extends layout 

block content 
    .messageForm-title
        h1 Whats your message

    form(action="/create", method="post", class="messageForm" )
        
        label(for="title") Title
        input(type="text" name="title")
        <br>
        label(for="message") Message
        input(type="text-area" name="message" class='messageFormbody')
        <br>
        input(type="submit", value="Submit" class='messageFormbtn')
    <br>
    a(href='/', class='backbtn' ) Back to Home