extends layout

block content
  h1= title 
 
  .nav-bar
    if (!user) 
      a(href='/signup') Sign up
      <br>
    if (!user)
      a(href='/login') Login
    <br>
    if (!member && user) 
      a(href='/join') Join Club
    <br>
    if (user && member) 
      a(href='/create') Create Message
    <br>
    if admin 
      a(href='/users') Users
    <br>

  .message-panel 
    if messages
      each message in messages 
        p= message