extends layout 

block content 

    h1= title
    h2 Enter password to join the club 
    if error 
        p= error

    form(action="/join", method="post", class="joinForm" )
        
        label(for="mempassword") Password 
        input(type="password" name="mempassword")
        <br>
        input(type="submit", value="Submit" class='joinFormbtn')
    <br>
    a(href='/', class='backbtn' ) Back to Home