extends layout 

block content 
    .loginForm-title
        h1 #{title}

    form(action="/login", method="post", class="loginForm" )
        
        label(for="username") User Name 
        input(type="text" name="username")
        br
        label(for="password") Password 
        input(type="password" name="password")
        br
        input(type="submit", value="Submit" class='loginFormbtn')
    <br>
    a(href='/', class='backbtn' ) Back to Home