* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 2rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(148, 146, 146);
}

.backbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

/*Index Page style*/

.nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  line-height: 3rem;
  padding: 25px;
}

.createbtn {
  background-color: green;
  border-radius: 25px;
  
}

.createbtn:hover {
  border-radius: 25%;
  color:rgb(148, 146, 146);
  transform: translateY(-2px);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  font-size: larger;
}

.logoutbar {
  display: flex;
}

.logoutbar h2 {
  width: fit-content;
}

.log-out-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50%;
}

.log-out-btn input {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.message-panel {
  
  border-radius: 25px;
  
}

.message {
  padding: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: #fff 5px solid;
  border-radius: 25px;
  background-color: #333;
  color: #fff;
}

.message-title {
  background-color: rgb(17, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-block {
  padding: 1.5rem;
  background-color: #fff;
  color:#333;
  
}

.message-username {
  font-style: italic;
}

.deletebtn {
  text-align: right;
  padding: 10px;
}

.deletebtn button {
  font-size: larger;
  padding: 25px;
  border-radius: 30px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

footer{
  text-align: center;
}

/*Sign Up Page*/

.signupForm-title {
  padding-left: 10%;
}

.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-size: 2rem;
  
}
.signupForm input {
  width: 80%;
  border-radius: 30px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  text-align: center;
  height: 2rem;
}
.signupFormbtn{
  background-color: rgb(36, 168, 43);
  width: auto;
  
}



/*Login Page*/

.loginForm-title {
  padding-left: 10%;
}
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginForm input {
  width: 80%;
  border-radius: 30px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  text-align: center;
  height: 2rem;
}

.loginFormbtn {
  background-color: rgb(36, 168, 43);
  width: auto;
}

/*Join Page and Admin Page*/

.joinForm, .adminForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.joinForm input, .adminForm input {
  width: 80%;
  border-radius: 30px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  text-align: center;
  height: 2rem;
  font-size: 1.75rem;
}

.joinFormbtn, .adminFormbtn {
  background-color: rgb(36, 168, 43);
  width: auto;
}

/*Create Message Page*/

.messageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.messageForm-title {
  padding-left: 10%;
}

.messageForm input {
  width: 80%;
  border-radius: 30px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  text-align: center;
  height: 2rem;
  font-size: 1.75rem;
}

.messageFormbody {
  line-height: 3rem;
  
}

.messageFormbtn {
  background-color: rgb(36, 168, 43);
  width: auto;
}
